* { box-sizing: border-box; }

.home-wrapper {
    background: url(../images/background.jpg);
    background-size: cover;
    color: white;
    padding: 50px;
}

.home-wrapper p {
    font-size: 24px;
}

section h3 {
    font-size: 32px;
    text-align: center;
}

div {
    padding: 80px;
}

.box {
    display: inline-block;
    text-align: center;
    width: 49%;
    padding: 10px;
}

.container {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}